# Exercise

What follows are several exercises regarding aggregation and grouping in pandas.

In this exercise, you will work with a fictional dataset containing sales data for a retail store. The dataset is provided in CSV format and consists of the following columns:

1. Employee_ID: Unique identifier for each employee (Integer).
2. Department: Department where the employee works (Categorical - String).
3. Gender: Gender of the employee (Categorical - String).
4. Age: Age of the employee (Integer).
5. Years_of_Experience: Number of years of experience of the employee (Integer).
6. Performance_Rating: Performance rating of the employee (Float, scale of 1 to 5).
Your task is to use pandas to perform various data analysis tasks and derive insights from the dataset.

In [1]:
import pandas as pd

# Create a fictional dataset
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Department': ['HR', 'IT', 'Marketing', 'Finance', 'HR', 'IT', 'Marketing', 'Finance', 'HR', 'IT'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female'],
    'Age': [35, 28, 42, 39, 45, 32, 37, 41, 29, 36],
    'Years_of_Experience': [10, 5, 15, 12, 20, 8, 13, 18, 6, 11],
    'Performance_Rating': [4.5, 3.8, 4.9, 4.2, 4.7, 4.0, 4.8, 4.3, 4.9, 4.6]
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)
df

,Employee_ID,Department,Gender,Age,Years_of_Experience,Performance_Rating
0,101,HR,Male,35,10,4.5
1,102,IT,Female,28,5,3.8
2,103,Marketing,Male,42,15,4.9
3,104,Finance,Female,39,12,4.2
4,105,HR,Male,45,20,4.7
5,106,IT,Female,32,8,4.0
6,107,Marketing,Male,37,13,4.8
7,108,Finance,Female,41,18,4.3
8,109,HR,Female,29,6,4.9
9,110,IT,Female,36,11,4.6

### 1. Calculate Average Performance Rating by Department and Gender:
- Group the data by Department and Gender.
- Calculate the average Performance_Rating for each group.

### 2. Identify Top Performer in Each Department:
- For each department, identify the employee with the highest Performance_Rating.
- Display the employee's Employee_ID, Department, and Performance_Rating.

### 3. Calculate Age Range Statistics by Department:
- Group the data by Department.
- Calculate the minimum, maximum, and average Age for each department.

### 4. Identify Employees with Below Average Performance Rating:
- Calculate the overall average Performance_Rating across all employees.
- Identify employees whose Performance_Rating is below the overall average.
- Display the Employee_ID, Performance_Rating, and Department of these employees.

### 5. Calculate Age Group Distribution by Gender:
- Create age groups for employees (e.g., 20-29, 30-39, 40-49, etc.).
- Group the data by Gender and age groups.
- Calculate the count of employees in each gender-age group.